.photos_folder {
    width: 100%;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
}

.photos_folder a:hover, .photos_path a:hover, #download_album:hover {
    box-shadow: 0 0 10px #000;
    background-color: #e0e0e0;
    color: black;
}

.photos_folder a {
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    min-width: 100px;
    height: 100px;
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 4px #000;
    transition: 0.3s;
    color: #e0e0e0;
}

.photos img {
    display: inline-flex;
    /* 4/3 format */
    width: 140px;
    height: 105px;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
}

.photos img:hover {
    box-shadow: 0 0 5px #000;
    opacity: 0.7;
}

.photos img:active {
    box-shadow: 0 0 10px #000;
}

.no_photo {
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photos_path {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

.photos_path a {
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 4px #000;
    transition: 0.3s;
    color: #e0e0e0;
}

#img_big {
    margin: 0;
    padding: 0;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#close, #right, #left, #fullscreen, #download {
    color: white;
    width: 25px;
    height: 25px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 7;
}

#right {
    position: fixed;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to left, #1c1c1c, transparent 90%);
}

#left {
    position: fixed;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(to right, #1c1c1c, transparent 90%);
}

#close {
    color: #ca0600;
    position: absolute;
    left: 0;
    bottom: 0;
}

#download {
    color: #28ca2a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#fullscreen {
    color: #2377c6;
    position: absolute;
    right: 0;
    bottom: 0;
}

#right:hover, #left:hover {
    width: 50px;
}

#right:active, #left:active {
    width: 40px;
}

#close:hover, #fullscreen:hover, #download:hover {
    height: 50px;
    width: 50px;
}

#close:active, #fullscreen:active, #download:active {
    height: 40px;
    width: 40px;
}

#photo_control {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background: #1c1c1c;
    height: 25px;
    width: 125px;
    border-radius: 5px;
    transition: 0.3s;
}

#photo_control:hover {
    height: 50px;
}

#photo_buttons{
    position: fixed;
    display: block;
    z-index: 10;
    /* Block selection of buttons (useful for mobile devices) */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

#close_back {
    position: fixed;
    width: 100%;
    height: 100%;
}

#photo_overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index: 5;
}

#download_album {
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 4px #000;
    transition: 0.3s;
    color: #28ca2a;
    cursor: pointer;
    margin: 5px;
}

#download_album p {
    margin: 0;
}

#download_album svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

@media screen and (max-width: 480px) {
    .photos_folder a {
        font-size: 15px;
        min-width: 50px;
        height: 50px;
    }
}
