/* The side navigation menu */

.sidenav {
    height: 100%;
    width: 300px;
    margin-left: -270px; /* change margin with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000;
    top: 0;
    left: 0;

    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
    background: linear-gradient(to right, #1c1c1c, transparent 90%);
}


#sidenav-scroll {
    padding: 50px 0 50px 0;
    width: 100%;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 0 8px 0;
    margin: 0 30px 0 30px;
    text-decoration: none;
    font-size: 20px;
    color: #f0f0f0;
    display: inline-flex;
    transition: 0.3s;
    height: 30px;
}

.sidenav-icon, .sidenav-image {
    left: 0;
    margin-right: 5px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    height: 20px;
    width: 20px !important;
}

.sidenav-image {
    margin: 0 5px 0 0;
    padding: 0;
}

.sidenav a:hover {
    color: #1a5dad;
    margin-left: 20px;
}

.sidenav .separator {
    height: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
