/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
    /*Full page background*/
    background: url("../images/bg.jpg") no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    box-sizing: border-box;
    color: #b5b5b5;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    padding-bottom: 10px;
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin: 10px 0 15px 0;
}

footer p {
    color: #f2f2f2;
    text-shadow: 0 0 2px black;
}

a {
    text-decoration: none;
    color: #3a7eaa;
    text-shadow: none;
    transition: 0.3s;
}

a:hover, a:focus {
    text-shadow: 0 0 4px #1a5dad;
}

strong {
    font-weight: bold;
}

img {
    position: relative;
    max-width: 739px;
    padding: 5px;
    margin: 10px 0 10px 0;
}

p img {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}

ul, ol, dl {
    margin-bottom: 15px
}

ul {
    list-style: disc inside;
    padding-left: 20px;
}

ol {
    list-style: decimal inside;
    padding-left: 20px;
}

table {
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    text-align: center;
}

th {
    padding: 10px;
    background: #373737;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #212121;
}

.copyright{
    color: #ccc;
    font-size: 14px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 900px;
    padding: 20px 10px;
    margin: 0 auto;
}

#header_wrap {
    background-position: top;
}

#header_top {
    display: flex;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2000;
    height: 100px;
    background: linear-gradient(to bottom, #1c1c1c, transparent 90%);
    pointer-events: none;
}

#header_top a {
    display: inline-flex;
    pointer-events: auto;
    height: 40px;
}

#header_wrap .inner {
    padding: 100px 10px 100px 10px;
}

#menu_title {
    color: white;
    line-height: 40px;
    border-bottom: none;
    margin: 5px;
}

#menu_icon {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
}

#title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    text-shadow: #111 0 0 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    cursor: default;
}

#description {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0 0 10px;
    border-bottom: none;
}

#home_content_wrap {
    background: none;
}

#home_content {
    padding-top: 100px;
}

#home_content h1 {
    color: white;
    font-size: 70px;
    border: none;
    text-align: center;
    text-shadow: 0 0 10px #000;
}

#home_content p {
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

#main_fading_top_edge {
    height: 200px;
    background: linear-gradient(to top, #1c1c1c, transparent 90%);
}
#main_fading_bottom_edge {
    height: 200px;
    background: linear-gradient(to bottom, #1c1c1c, transparent 90%);
}
#main_content_wrap {
    background: #1c1c1c;
}

#main_content {
    padding-top: 10px;
}

#footer_wrap {
    padding: 50px 0 50px 0;
}

#table_wrapper {
    width: 100%;
    overflow: auto;
}

#table_coms{
    width: 100%;
    table-layout: auto;
    text-align: center;
    border: 1px solid #494949;
}

#table_coms .spacer{
    width: 20%;
}

#table_coms td{
    vertical-align: middle;
    border: none;
    padding: 0;
    width: 30%;
}

#table_coms img{
    height: 100px;
}

.com_description{
    width: 100%;
    font-weight: bold;
}

#back_button{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: -100;
    transition: 0.3s;
}

.active_background {
    z-index: 100 !important;
    opacity: 0.7 !important;
}

.main_button {
    background-color: #1a1a1a;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    text-shadow: 0 0 5px #1c1c1c;
    font-size: 25px;
    color: #73b795;
    box-shadow: 0 0 4px #000;
}

.main_button:hover {
    box-shadow: 0 0 10px #000;
    background-color: #635247;
}

#credits-list {
    list-style: none;
    display: inline-flex;
}

#credits-list li {
    padding: 5px;
    height: 50px;
    width: 50px;
}

#credits-list svg {
    height: 50px;
    width: 50px;
}

#credits-list a:hover{
    color: #a3a7b3;
}

#score_counter {
    height: 100px;
}

#score_container {
    width: 600px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    background-color: #1C1C1C;
    border-radius: 10px;
    box-shadow: 0 0 20px #1C1C1C;
}

#score_usa, #score_urss {
    font-size: 50px;
}

#score_usa{
    color: #1a5dad;
}

#score_urss{
    color: #d72229;
}

#score_separator{
    font-size: 70px;
}

.score_logo {
    width: 100px;
}

#main_pages{
    width: 100%;
    display: inline-grid;
    padding: 0;
    vertical-align: middle;
}

.main-link{
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 0;
    margin: 5px;
    height: 100px;
    color: #e0e0e0;
}

.main-link:hover{
    color: #1a5dad;
}

.main-logo {
    width: 20%;
    font-size: 64px;
    background: #1c1c1c;
    box-shadow: 0 0 10px #1c1c1c;
    display: inline-flex;
}

.main-logo svg {
    margin: auto;
}

.main-text {
    width: 80%;
    font-size: 20px;
    display: inline-flex;
    background: linear-gradient(to right, #1c1c1c, transparent 90%);
}
.main-text span {
    margin-top: auto;
    margin-bottom: auto;
}

#list_blouse{
    text-align: left;
    list-style: square;
}

#map {
    height: 600px;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .inner {
        min-width: 320px;
        max-width: 480px;
    }
    #title {
        font-size: 32px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    code, pre {
        font-size: 11px;
    }
    #table_wrapper {
        width: 100%;
        overflow: scroll;
    }
    #score_counter {
         height: 50px;
    }

    #score_container {
        width: 300px;
    }

    #score_usa, #score_urss {
        font-size: 25px;
    }
    #table_coms .spacer{
        width: 0;
    }
    #table_coms td{
        width: 50%;
    }
    .main-logo {
        font-size: 32px;
    }
    .main-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .inner {
        min-width: 240px;
        max-width: 320px;
    }
    #title {
        font-size: 28px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    code, pre {
        min-width: 240px;
        max-width: 320px;
        font-size: 11px;
    }
    #table_wrapper {
        width: 100%;
        overflow: scroll;
    }
}
